.App {
  text-align: center;
  user-select: none;
}

.App-main {
  background-color: #2C3E50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mr-1 {
  margin-right: 1em;
}

.flex-row {
  display: flex;
}

.rectangle {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8E44AD;
  cursor: grab;
  border-radius: 0.2em;
}

.rectangle-initial-position {
  top: 25% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.coordinate-input {
  font-size: 1em;
}
